
<div class="logo">
    <a href="#"> Эко-Маркет</a>
  </div>
  <div class="top-bar">
  <nav class="navigation">
    <ul>
        <li><a href="http://localhost:4200/home"><img src="../../assets/images/home-03.png" alt="Главная"> Главная</a></li>
        <li><a href="http://localhost:4200/shopping"><img src="../../assets/images/bag-03.png" alt="Корзина"> Корзина</a></li>
        <li><a href="#"><img src="../../assets/images/clock-01.png" alt="История"> История</a></li>
        
      </ul>
  </nav>
</div>